// Fontes
$fontPrincipal: Roboto, sans-serif;

// Esquema de cores
$corPrimaria: #f3c0e4;
$corSecundaria: #b971ad;
$corFontes1: #460437;
$corFontes2: rgb(34, 9, 58);
$corOpcional: rgb(0, 38, 255);
$corNeutra:rgb(245, 235, 244);


// Breakpoints
$mobile: 767px;
$tablet: 1023px;